.contact {
    margin: 0;
    height: 80vh;
    width: 100%;
    color: var(--main-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactHeader {
    font-family: 'Playfair Display';
    color: var(--main-text);
    font-size: 5em;
    margin: 0;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--main-text);
}

.contactForm * {
    margin-bottom: 1em;
    color: var(--main-text);
    font-size: 1em;
}

.contactForm input {
    background-color: transparent;
    border: 1px solid var(--main-text);
    padding: 5px;
}

.contactForm textarea {
    background-color: transparent;
    border: 1px solid var(--main-text);
    padding: 5px;
}

.contactForm button {
    padding: 1em 0;
    cursor: pointer;
    border: 1px solid var(--main-text);
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .contact {
        height: 95vh;
        font-size: .8em;
    }
    
    .contactForm {
        width: 85%;
    }
}