/* FONTS */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Nanum Gothic', sans-serif; */

.container {
  background-color: var(--main-accent);
  min-height: 100vh;
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--main-text);
}

.homeMain {
  width: 100%;
  padding-left: 5em;
}

.mainHeader {
  font-size: 6em;
  margin: 0;
  font-family: 'Playfair Display';
  font-weight: 600;
}

.subHeadInfo {
  padding-left: 4em;
  margin-top: 2em;
}

.subHeader {
  margin: .5em;
  font-size: 2em;
  font-family: 'Nanum Gothic', sans-serif;
}