/* FONTS */
/* font-family: 'Yusei Magic', sans-serif; */
/* font-family: 'Indie Flower', cursive; */

.container {
  background-color: var(--main-accent);
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-text);
}

.mainHeader {
  font-size: 6em;
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
}

.subHeader {
  font-size: 2em;
  font-family: 'Yusei Magic', sans-serif;
}