.workCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.workDesc {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 20em;
    margin: 0 auto;
}

.workImg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
    cursor: pointer;
    width: 17em;
    transition: .3s ease-in-out;
}

.gitHubLink {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}