.workCard {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.workImg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
    cursor: pointer;
    width: 17em;
    transition: .3s ease-in-out;
}

.gitHubLink {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}