.workCard {
    width: 50%;
    font-family: 'Nanum Gothic', sans-serif;
}

.workCardHeader {
    font-size: 2.5em;
}

.techList {
    color: var(--orange-accent);
    font-size: 1em;
}

.links {
    font-size: 1.25em;
    margin: 0;
}

.links a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media only screen and (max-width: 500px) {
    .workCardHeader {
        font-size: 2em;
    }
}