.nav {
    padding-left: 4em;
    margin-top: 0;
    color: var(--main-text);
    position: relative;
}

.navList {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navListItem {
    font-size: 2em;
    padding-right: 2em;
    cursor: pointer;
}

.navListItem::before {
    position: absolute;
    top: 40px;
    width: 60px;
    height: 3px;
    content: '';
    background-color: rgb(241, 169, 87);
    transform-origin: center;
    transform: scaleX(.5);
    transition: .3s ease-in-out;
}

.navListItem:hover::before {
    transform: scaleX(1);
}