* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    height: 100vh;
}

nav {
    padding-top: .5em;
}

.logo {
    float: left;
    margin-left: 1em;
    font-family: 'Yellowtail', sans-serif;
}

.nav-list {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
    margin-left: 78%;
}

.nav-item {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: .8em;
    list-style-type: none;
    margin: 0 1.75em;
}

.nav-item a {
    text-decoration: none;
    color: black;
}